.hostel-bg-container{
    padding: var(--padding);
}

.hostel-head{
    color:rgb(52, 45, 45);
    color: var(--secondary);
    font-size: 20px;
    font-weight: 600;
    margin-bottom:1rem;
}

.submit{
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    height: 40px;
    width: 130px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.hostel-form{
    display: flex;
    flex-direction: column;
}

.location-container{
    border: 1px solid var(--secondary);
    align-self: flex-end;
    padding: 0.5rem;
    height: 40px;
    width: 40px;
    border-radius:4px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-name{
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
    /* margin-left: 8px; */
}

.radio-input{
    margin-right: 4px;
}

.food-label{
    margin-right:1.5rem ;
}

.address-text{
    color: var(--secondary);
    font-weight: 700;
    font-size: 1rem;
}

.location-icon{
    color: var(--secondary);
}

.hostel-err-msg{
    color: red;
    font-size: 16px;
    line-height: 1;
}

.food-menu-margin-bottom{
    margin-bottom: 0px;
}

.room-type-text{
    width: 30%;
    color: var(--secondary);
}

.input-room-price{
    width: 30%;
    background-color: #f4eaea;
    border-radius: 4px;
    color: var(--secondary);
    padding: 0px 6px;
    border-radius:6px ;
    background-color: #f5f5f5;
    outline: none;
    height: 2rem;
}

.price-text-width{
    width: 30%;
    color: var(--secondary);
}
.no-of-rooms-text-width{
    width: 35%;
    color: var(--secondary);
}

.input-no-of-rooms{
    width: 35%;
    background-color: var(--text);
    color: var(--secondary);
    padding: 2px 4px;
    border-radius: 6px;
    background-color: #f5f5f5;
    outline: none;
    height: 2rem;
}


.checkbox{
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.selected{
    border: 1px solid rgb(159, 156, 156);
}

.orange-border{
    border: 2px solid rgb(253 186 116);
}

.red-border{
    border: 2px solid red;
}

.green-border{
    border: 2px solid green;
}

.selected-text{
    color: green;
    font-weight: 500;
}