.header {
    padding: 0px 20px;

    box-shadow: 0 2px 2px 0 rgba(31, 45, 61, .15);
}

.header-icon {
    font-size: 1.4rem;
    color: black;
}

.website-logo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.nav-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: 458px;
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .nav-content {
        padding-top:26px;
        padding-bottom: 26px;
        max-width: 1110px
    }
}

@media screen and (min-width: 768px) {
    .website-logo {
        width:48px;
        height: 48px
    }
}

.modal-container {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.align-column {
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-size: 14px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    margin: 0 0 0 8px;
    color: "black";
    line-height: 24px;
    color: var(--secondary);
}

.align-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.cancel-button { 
  background-color: transparent;
  border: 1px solid #64748b;
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  padding: 9px 15px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 30px;
}

.confirm-button {
    background-color: var(--button);
    border: none;
    color: #f1f1f1;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    padding: 9px 15px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}

.input-container-mobile {
    border: 1px solid #d4d7dd;
    background-color: #f5f5f5;
    padding:0px 12px;
    height: 30px;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-input {
    outline: none;
    border: none;
    font-size:1rem;
    background-color: transparent;
    color: var(--text);
    width: 100%;

}

.search-button {
    background-color: #272727;
    height: 100%;
    border: none;
    cursor: pointer
}

.search-icon {
    font-size: 17px;
    color: var(--secondary);
    /* margin-left: 10px; */
    margin-right: 5px
}
