.header {
    padding: 0px 20px;
    box-shadow: 0 2px 2px 0 rgba(31, 45, 61, .15);
}

.hamburger-icon {
    width: 38px;
    height: 38px;
}

.website-logo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.nav-content {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: 458px
}

@media screen and (min-width: 768px) {
    .nav-content {
        padding-top:26px;
        padding-bottom: 26px;
        max-width: 1110px
    }
}

@media screen and (min-width: 768px) {
    .website-logo {
        width:48px;
        height: 48px
    }
}

.hamburger-icon-button {
    background-color: transparent;
    /* width: 42px; */
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}

.popup-content {
    background-color: #fff;
    width: 100vw;
    height: 100vh
}

.modal-container {
    flex-grow: 1;
    width: 90%;
    max-width: 458px
}

@media screen and (min-width: 768px) {
    .modal-container {
        max-width:1110px
    }
}

.close-button {
    align-self: flex-end;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    margin-top: 32px;
    outline: none;
    cursor: pointer
}

.nav-links-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0
}

.nav-link-item {
    list-style-type: none
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e293b;
    text-decoration: none;
    margin-bottom: 32px
}

.nav-link-content {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    margin: 0 0 0 8px;
    color: "black";
}

@media screen and (min-width: 768px) {
    .nav-link-content {
        font-size:40px
    }
}

.input-container-mobile {
    border: 1px solid #475569;
    padding-left: 12px;
    height: 30px;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px
}

.search-input {
    outline: none;
    border: none;
    font-family: "Roboto";
    font-size: 15px;
    background-color: transparent;
    margin-right: auto;
    width: 85%;
    color: #cbd5e1
}

.search-button {
    background-color: #272727;
    height: 100%;
    border: none;
    cursor: pointer
}

.search-icon {
    font-size: 17px;
    color: #cbd5e1;
    margin-left: 10px;
    margin-right: 10px
}
