
.hostel-bed-bg-container{
    min-height: 100vh;
    background-color: var(--primary);
}

.hostel-bed-container-1{
    padding: var(--padding);
    /* animation: slide 1.5s ease-in-out; */
}

.hostel-bed-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.room-bed-container{
    width: 28%;
    margin-bottom: 0.75rem;
}

.room-name{
    color: var(--secondary);
    text-align: center;
}

.bed-container{
    display: flex;
    /* height: 140px; */
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    justify-content: space-between;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.check-box-bed{
    width: 30px;
    height: 30px;
}

.hostelName-text{
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}



@keyframes slide {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}